accelerate>=0.33.0
bitsandbytes>=0.44.1
chromadb>=1.0.4
diffusers>=0.30.3
docling>=2.29.0
falkordb>=1.0.10
Flask>=3.0.0
Flask-Cors>=4.0.1
hqq>=0.2.2
huggingface-hub>=0.27.1
igraph>=0.11.8
louvain>=0.8.2
leidenalg>=0.10.2
networkx>=3.1
nltk>=3.8.1
numpy>=1.26.4
optimum-quanto>=0.2.6
pdf2image>=1.16.3
Pillow>=10.0.0
PyMuPDF>=1.23.1
PyPDF2>=3.0.1
rapidfuzz>=3.9.6
requests>=2.32.3
sentence_transformers>=4.0.2
transformers>=4.51.2
tokenizers>=0.21.0
triton-windows>=3.2.0.post17
tqdm>=4.66.4
google-api-python-client>=2.140.0
google-auth-httplib2>=0.2.0
google-auth-oauthlib>=1.2.1
azure-ai-formrecognizer>=3.3.3
azure-ai-vision-imageanalysis>=1.0.0
azure-cognitiveservices-vision-computervision>=0.9.0
azure-common>=1.1.28
azure-core>=1.29.6
urlextract>=1.9.0
whoosh>=2.7.4
waitress>=3.0.0
werkzeug>=3.0.1
wheel>=0.43.0