accelerate
chromadb
diffusers
Flask
Flask-Cors
huggingface-hub
nltk
numpy
optimum-quanto
pdf2image
Pillow
PyMuPDF==1.23.1
PyPDF2==3.0.1
rapidfuzz
requests
sentence_transformers
transformers
tokenizers
tqdm
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
azure-ai-formrecognizer==3.3.3
azure-ai-vision-imageanalysis
azure-cognitiveservices-vision-computervision==0.9.0
azure-common==1.1.28
azure-core
Whoosh
waitress
werkzeug